[package]
name = "disarium"
version = "0.1.0"
edition = "2024"

[dependencies]
rayon = "1.11.0"

[dev-dependencies]
criterion = "0.7.0"

[[bench]]
name = "benchmark"
harness = false

[profile.samply]
inherits = "release"
debug = true
